@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
} */

body {
  margin: 0;
}

li {
  list-style: none;
}

.container {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  font-family: "Roboto", sans-serif;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.service-type-button {
  margin: 10px;
}

/* .banner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 365px;
  height: 841px;
} */
